scopeName: 'source.literate-scheme'
name: 'Literate Scheme'
fileTypes: [ 'lit' ]
limitLineLength: false

patterns: [
  { include: '#bookKeyword' }
  { include: '#titleKeyword' }
  { include: '#codeTypeKeyword' }
  { include: '#commentFormat' }
  { include: '#sectionKeyword' }
  { include: '#includeKeyword' }
  { include: '#errorFormatKeyword' }
  { include: '#compilerDeclarationKeyword' }
  { include: '#bookChapter' }
  { include: '#codeBlock' }
  { include: '#changeBlock' }
  # { include: 'source.gfm'} # GitHub-Flavored MarkDown formatting
]

repository:

  changeBlock : {
    comment: 'Change file'
    name: 'meta.block.literate-scheme'
    begin: '^(@change)([ \\t]+?)([^ \\\\]*)$'
    beginCaptures:
      1: name: 'keyword.literate-scheme'
      3: name: 'string.unquoted.literate-scheme'
    end: '^@change_end$'
    endCaptures:
      0: name: 'keyword.literate-scheme'
    patterns: [
      { include: '#changeKeyword' }
      { include: '$self' }
    ]
  }


  codeBlock: {
    comment: 'Code Block'
    name: 'meta.embedded.block.literate-scheme'
    begin: '^(---) (.+)$'
    beginCaptures:
      1: name: 'punctuation.definition.string.begin.literate-scheme'
      2:
        name: 'entity.name.section.other.literate-scheme'
        patterns: [{ include: '#codeBlockModifier' }]
    end: '^(---)$'
    endCaptures:
      1: name: 'punctuation.definition.string.end.literate-scheme'
    patterns: [
      { include: 'source.scheme' }
      { include: '#sectionReference' }
    ]
  }

  bookKeyword: {
    comment: 'book keyword'
    match: '^@book$'
    name: 'keyword.literate-scheme'
  }

  titleKeyword: {
    comment: 'title keyword'
    match: '^(@title)(.*)'
    captures:
      0: name: 'meta.name.section.literate-scheme'
      1: name: 'keyword.literate-scheme'
      2: name: 'markup.heading.literate-scheme'
  }

  codeTypeKeyword: {
    comment: 'code type keyword'
    match: '(@code_type)([ \\t]*?)([^ \\t]+)([ \\t]*?)(\\.[^ \\t]+)'
    captures:
      0: name: 'meta.declaration.literate-scheme'
      1: name: 'keyword.literate-scheme'
      3: name: 'string.unquoted.literate-scheme'
      5: name: 'string.unquoted.literate-scheme'
  }

  commentFormat: {
    comment: 'comment format line'
    name: 'meta.declaration.literate-scheme'
    contentName: 'string.unquoted.literate-scheme'
    begin: '^(@comment_type)'
    beginCaptures:
      1: name: 'keyword.literate-scheme'
    end: '$'
    patterns: [{ include: '#sectionVariable' }]
  }

  sectionKeyword: {
    comment: 'section keyword'
    match: '^(@s)(.*)'
    captures:
      0: name: 'meta.name.section.literate-scheme'
      1: name: 'keyword.literate-scheme'
      2: name: 'entity.name.section.other.literate-scheme'
  }

  includeKeyword: {
    comment: 'include a file'
    match: '^(@add_css|@overwrite_css|@colorscheme|@include)([ \\t]+?)([^ \\\\]*)'
    captures:
      0: name: 'meta.declaration.literate-scheme'
      1: name: 'keyword.literate-scheme'
      3: name: 'string.unquoted.literate-scheme'
  }

  errorFormatKeyword: {
    comment: 'error_format line'
    name: 'meta.declaration.literate-scheme'
    contentName: 'string.unquoted.literate-scheme'
    begin: '^(@error_format)'
    beginCaptures:
      1: name: 'keyword.literate-scheme'
    end: '$'
    patterns: [{ include: '#percentVariable' }]
  }

  compilerDeclarationKeyword: {
    comment: 'compiler declaration'
    name: 'meta.declaration.literate-scheme'
    contentName: 'string.unquoted.literate-scheme'
    begin: '^(@compiler)'
    beginCaptures:
      1: name: 'keyword.literate-scheme'
    end: '$'
    patterns: [
      { include: '#compilerOption' }
      { include: '#compilerOperator' }
      { include: '#compilerFunction' }
    ]
  }

  bookChapter: {
    comment: 'Chapter description and chapter link for @book'
    match: '^[ \\t]*?(\\[)(.*?)(\\])(\\()(.+)(\\))'
    captures:
      0: name: 'entity.name.section.other.literate-scheme'
      1: name: 'punctuation.definition.begin.literate-scheme'
      3: name: 'punctuation.definition.end.literate-scheme'
      4: name: 'punctuation.definition.begin.literate-scheme'
      5: name: 'string.unquoted.literate-scheme'
      6: name: 'punctuation.definition.end.literate-scheme'
  }

  percentVariable: {
    name: 'variable.language.literate-scheme'
    match: '%[lms]'
  }
  sectionVariable: {
    name: 'variable.language.literate-scheme'
    match: '%s'
  }
  compilerOption: {
    name: 'entity.other.attribute-name'
    match: '-{1,2}[a-zA-Z]+'
  }
  compilerOperator: {
    name: 'keyword.operator'
    match: '&&'
  }
  compilerFunction: {
    name: 'entity.name.function'
    match: '(?<= |\\t)[a-zA-Z]+(?= |\\t)'
  }
  sectionReference: {
    comment: 'section reference within code block'
    match: '(@)(\\{)(.+)(\\})'
    captures:
      1: name: 'keyword.literate-scheme'
      2: name: 'punctuation.definition.begin.literate-scheme'
      3: name: 'entity.name.section.other.literate-scheme'
      4: name: 'punctuation.definition.end.literate-scheme'
  }
  codeBlockModifier: {
    comment: 'testing for code block'
    match: '(---)? (noWeave|[\\:\\+]=)$'
    name: 'entity.other.attribute-name'
  }
  changeKeyword: {
    comment: 'for inclusion in @change blocks'
    match: '^(@replace|@with|@end)$'
    name: 'keyword.other.literate-scheme'
  }
